Source: freegeek-default-settings
Section: ubuntu/x11
Priority: optional
Maintainer: Freegeek Coders <coders@freegeek.org>
Uploaders: Ryan Niebur <ryan@debian.org>, Vagrant Cascadian <vagrant@debian.org>
Build-Depends: debhelper (>= 8.1.3~), intltool
Standards-Version: 3.9.2
Homepage: https://launchpad.net/xubuntu-default-settings
Vcs-Bzr: lp:xubuntu-default-settings
Vcs-Browser: http://bazaar.launchpad.net/~xubuntu-dev/xubuntu-default-settings/trunk/files

Package: freegeek-default-settings
Architecture: all
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, xubuntu-artwork (>= 12.04.2~), ttf-droid,
 x11-common (>= 1:7.6+7ubuntu2), lightdm-gtk-greeter (>= 1.0.0-0ubuntu2),
 xubuntu-default-settings
Recommends: xfce4-utils, freegeek-wallpapers, libreoffice,
# Stuff to avoid "Incomplete Language Support warnings" RT#32065
 wamerican, wbritish,
 firefox-locale-en,
 language-pack-kde-en,
 poppler-data,
 gimp-help-en,
 thunderbird-locale-en, thunderbird-locale-en-us, 
 myspell-en-za, myspell-en-gb, myspell-en-au, 
# More stuff to avoid "Incomplete Language Support warnings" RT#32677
 openoffice.org-hyphenation,
 libreoffice-help-en-us,
 hyphen-en-us, mythes-en-us, hunspell-en-us | myspell-en-us
Provides: lightdm-gtk-greeter-config
Description: default settings for the Freegeek desktop
 This package contains the default settings used by Freegeek.

Package: freegeek-preferred-packages
Architecture: all
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}
Recommends: libreoffice
Breaks: abiword, gnumeric, apport, whoopsie
Description: default application preferences for the Freegeek desktop
 This package uninstalls some applications that are not part of the Freegeek
 desktop, but may be included with Xubuntu or other defaults.
 .
 If you really want those packages installed, it should be safe to remove this
 package.

Package: freegeek-live-settings
Architecture: all
Depends: ${misc:Depends}, casper, freegeek-default-settings
Description: configuration for the Freegeek live cd
 This package contains live cd customzations used by Freegeek.
